*{
    margin-top: 0px;
    padding: 0px;
}
header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: gold;
    gap: 20px;
    align-items: center;
    padding-right: 500px;
    padding-left: 800px;
}

main{
    display: flex;
    flex-direction: row;
    gap: 30px;
}