*{
    margin-top: 0px;
    padding: 0px;
}
header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: gold;
    gap: 20px;
    align-items: center;
    padding-right: 500px;
    padding-left: 800px;
    border: 6px solid;
    border-radius: 20px;
}

main{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

body{
    
    background-image: url("PHOTOS2/Screenshot from 2025-09-26 14-08-28.png");
}
 #info{ 
    /* background-color: gray; */
    border: 2px solid;
    border-color: beige;
    padding: 20px 15px;
    margin: 30px 100px;
    border-radius: 20px;
    width: fit-content;
    max-height: fit-content;
    color: white;
}

#contestants{
    margin: 20px;
    list-style: none;
    background-color: black;
    color: white;
    padding-left: 30px;
    padding-right: 30px; 
    width: 200px;
    text-align: justify;
    border: 4px solid;
    border-color: beige;
    border-radius: 20px;
    
}

#contestants li {
    cursor: pointer;
    
    
}
#contestants li:hover{
    background: gold;
}

#nganya-image{
    margin: 10px;
    border-radius: 50%;
}

#anime{
    background-color: gold;
    margin-top: 50px;
    border-radius: 50%;
}

#pilot-details{
    margin-top: 50px;
    background-color: black;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    height: fit-content;
    border: 5px solid;
    border-color: gold;
    border-radius: 10px;
}

#pilot-details button{
    background-color: beige;
}

#pilot-details button:hover{
    background-color: gold;
}

